<h1><%= @user.full_name %>'s Hiking Profile</h1>

<ol>
  <% @user.hikes.each do |hike| %>
    <li>Hiked <%= hike.duration %> hours on <%= hike.date_hiked %>.</li><br>
</ol>

<%= link_to "See all Parks", state_parks_path %><br><br>

<%= button_to "Log Out", logout_path %>