<h1> <%= @user.full_name %>'s Hiking Profile</h1>

<h2>Parks You Have Hiked In</h2>
<%= "No Hikes in Any Parks" if @user.state_parks.empty? %><br><br>

<%= link_to "Add a Park You Hiked In", new_state_park_path %>

<ol>
  <% @user.state_parks.each do |state_park| %>
    <li>
      <%= state_park.name %><br>
      <%= state_park.address %><br>
      <%= state_park.county %><br>
    </li>
  <% end %>
</ol>

<%= button_to "Log Out", logout_path %>