<%= link_to "Back to User Profile", user_path(@user) %><br><br>
<%= button_to "Log Out", logout_path %>

<h2><%= @trail.name %></h2>
<h3>You've hiked this trail <%= @trail.hikes_for(@user).count %> times.</h3>
<%= "You haven't hiked on this trail yet." if @trail.hikes.empty? %>
<ol>

<%= link_to "Hike Again", new_state_park_trail_hike_path(@state_park, @trail) %><br><br>

<%= link_to "Back to State Park Page", state_park_path(@state_park) %><br><br>
